name: Python tests # Name shown in GitHub Actions UI

on:
  # Trigger the workflow on push or pull request events but only for the "dev" and "main" branches
  push:
    branches: [dev, main]
  pull_request:
    branches: [dev, main]

jobs:
  test:
    runs-on: ubuntu-latest # Use the latest Ubuntu runner

    steps:
      # Check out the repository code
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          
      # Install project dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      # Run pytest to execute the tests, CI will fail if any test fails
      - name: Run pytest
        run: |
          pytest